@-moz-document domain('myfigurecollection.net') {
	body {
		background-color: #262626 !important;
	}

	section > h1,
	section > h2,
	.tbx-target-WINDOW,
	.tbx-target-WINDOW > h2,
	.tbx-target-WINDOW > .window-actions,
	.tbx-target-WINDOW .actions {
		background-color: #212121 !important;
		border-color: #212121 !important;
	}

	section,
	div.item-object,
	div.section-content,
	.tbx-target-TAGS .object-tags,
	.listing .listing-item,
	.user-stats,
	.listing-noresults,
	.window-content,
	.entry-description,
	.entry-items,
	.entry-object,
	.picture-score,
	.nothing,
	.user-object {
		background-color: #333333 !important;
		border-color: #333333;
	}

	.entry-description {
		color: #D2D2D2 !important;
	}

	.listing,
	.listing-title,
	.listing-filter {
		border-color: #333333 !important;
	}

	div.share,
	.comment > .user-expression .content,
	.activity-wrapper,
	.user-expression .expression .content,
	.tbx-bbcode,
	.bbcode-buttons,
	.form .form-field.small-text .form-input,
	.form .form-field.text .form-input,
	.form .form-field.long-text .form-input,
	.tbx-bbcode-pictures,
	.reply-content,
	.select.form-field > .form-input,
	.bigchar.form-field > .form-input,
	.varchar.form-field > .form-input,
	.date.form-field > .form-input,
	.date-chooser > .date,
	.form-input .option,
	.object-picker,
	.tbx-color,
	.tbx-color-palet > div > div,
	.form-input > select > option,
	.form-input > label[for=fl-avatar] {
		background-color: #5C5C5C !important;
		border-color: #5C5C5C !important;
		color: #D2D2D2 !important;
	}

	.form-input input,
	.form-input select,
	.form-input textarea {
		color: #D2D2D2 !important;
	}

	.user-expression .avatar .inner-caret,
	.caret > .inner {
		border-color: #5C5C5C;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-right: 7px solid #5C5C5C !important;
	}

	.comment > .user-expression .content .quote,
	.tbx-menu > .menu,
	.tbx-menu > .menu > li,
	.reply-content .quote {
		background-color: #6B6B6B !important;
		border-color: #6B6B6B;
	}

	div.comment {
		border-bottom: 1px solid #5C5C5C;
	}

	section h1,
	section h2,
	ul.menu > li > a {
		color: #D2D2D2 !important;
	}

	a {
		color: #999 !important;
	}

	a:hover,
	.actions > a:hover,
	.actions > a > span:hover {
		color: #50BCB6 !important;
	}

	.form-input > input[type=submit]:hover {
		color: white !important;
		background-color: #50BCB6 !important;
	}

	h1 > .actions,
	.actions > a,
	h2 .count,
	.subtab .selected,
	.subtab li a:hover,
	.input,
	.tbx-click,
	.criterion-preview {
		background-color: #5C5C5C !important;
		border-color: #5C5C5C !important;
		color: #D2D2D2 !important;
	}

	.input *,
	.form-input {
		color: #D2D2D2 !important;
	}

	.tiny-progress-bar {
		background-color: #50BCB6;
	}

	#window {
		background: rgba(0,0,0, 0.7);
	}

	#search {
		background: rgba(0,0,0, 0.6);
	}

	.item-object .item-collect-actions {
		border-bottom: none;
	}

	.object-stats {
		border-top: none;
	}

	#navigator a.handle,
	a.item-category,
	.item-picture-categories > a,
	a.category {
		color: white !important;
	}

	a.category.picture-album {
		color: black !important;
	}

	ul.menu,
	ul.menu > li {
		background-color: #5C5C5C !important;
		border: none !important;
	}

	#menu li .menu li a:hover,
	.user-menu .menu li a:hover, .lang-menu .menu li a:hover {
		background: #6B6B6B;
	}
}
